.kontakt{
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    max-width: auto;
    
    

  }

  .green{
    border: 
    3px solid green;
  }
  
  .gray{
    border: 3px solid gray;
  }

  .bold{
   font-style: bold,italic;
   font-family: Georgia, 'Times New Roman', Times, serif;
  }